<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6297b6">  <td>18/10/21 11:34:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC001@20398b7c]">CreateLead</td> 
  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/21 11:35:36</td>   <td>61896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC001@20398b7c]">CreateLead</td> 
  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="6297b6">  <td>18/10/21 11:36:17</td>   <td>102342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC001@20398b7c]">CreateLead</td> 
  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/10/21 11:34:46</td>   <td>11747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day2.TC001@20398b7c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/10/21 11:35:50</td>   <td>75680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day2.TC001@20398b7c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/10/21 11:36:29</td>   <td>114936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:week6.day2.TC001@20398b7c]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/10/21 11:34:13</td>   <td>-21751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC001@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/10/21 11:34:48</td>   <td>13909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC001@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/10/21 11:35:52</td>   <td>77807</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:week6.day2.TC001@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1585787493</td>   <td></td> </tr>
</table>
